{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Typing Game</title>
		<meta charset="UTF-8">
		<meta name="description" content="EndGam Gaming Magazine Template">
		<meta name="keywords" content="endGam,gGaming, magazine, html">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
		<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon"/>
	
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	
	
		<!-- Stylesheets -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
	
		<!-- Main Stylesheets -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	
	</head>

	<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-social d-flex justify-content-end">
				<p>Follow us:</p>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-behance"></i></a>
			</div>
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="home.html" class="site-logo">
					<img src="{% static 'img/logo.png' %}" alt="">
				</a>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						<a href="{% url 'GameHome:login' %}">Đăng nhập</a> / <a href="{% url 'GameHome:register' %}">Đăng ký</a>
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="{% url 'GameHome:index' %}">Trang chủ</a></li>
						<li><a href="{% url 'GameHome:review' %}">Giới thiệu</a></li>
						<li><a href="{% url 'GameHome:games' %}">Trò chơi</a>
							<ul class="sub-menu">
								<li><a href="game-single.html">Học tập</a></li>
								<li><a href="game-single.html">Luyện tập</a></li>
								<li><a href="game-single.html">Ôn tập</a></li>
							</ul>
						</li>
						<li><a href="{% url 'GameHome:blog' %}">Tin tức</a></li>
						<li><a href="{% url 'GameHome:contact' %}">Liên hệ</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	{% block blk %}
	{% endblock %}

	<!-- Newsletter section -->
	<section class="newsletter-section">
		<div class="container">
			<h2>Đăng ký nhận thông báo khi có bài viết mới</h2>
			<form class="newsletter-form">
				<input type="text" placeholder="Điền email của bạn vào đây">
				<button class="site-btn">Đăng ký <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></button>
			</form>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<a href="#" class="footer-logo">
				<img src="{% static 'img/logo.png' %}" alt="">
			</a>
			<ul class="main-menu footer-menu">
				<li><a href="">Trang chủ</a></li>
				<li><a href="">Giới thiệu</a></li>
				<li><a href="">Trò chơi</a></li>
				<li><a href="">Tin tức</a></li>
				<li><a href="">Liên hệ</a></li>
			</ul>
			<div class="footer-social d-flex justify-content-center">
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-behance"></i></a>
			</div>
			<!-- <div class="copyright"><a href="">Colorlib</a> 2018 @ All rights reserved</div> -->
		</div>
	</footer>

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky-sidebar.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>



    