{% extends "homepage/base.html" %}
{% load static %}
{% block blk %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    </head>

    <body>
	<section class="hero-section overflow-hidden">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/slider-bg-1.jpg' %}">
                <form action="" class="login100-form validate-form" method="POST">
                    {% if message != "" %}
                    <div class="form-group" data-wow-delay="300ms">
                        <script>
                            var timer = setTimeout(function() {
                                $('#alert').fadeOut('slow');}, 5000);
                        </script>
                        <div id="alert" class="alert-success" style="padding: 10px; margin-bottom: 0px;">{{ message }}</div>
                    </div>
                    {% endif %}
                    {% csrf_token %}
                <div class="wrap-input100 validate-input" >
                    <input type="text" class="input100" placeholder="Nhập email" name="username" required>
                    <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                </div>
				<div class="wrap-input100 validate-input">
                    <input type="password" class="input100" name="password" placeholder="Nhập mật khẩu">
                    <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" class="login100-form-btn" value="Đăng nhập"><br>
                </div>
                <p class="top30 mb-0"><a href="{% url 'GameHome:forgetpassword' %}" class="defaultcolor">Quên mật khẩu?</a></p>
                <p class="top30 mb-0"> Không có tài khoản? &nbsp;<a href="{% url 'GameHome:register' %}" class="defaultcolor">Đăng ký ngay</a> </p>
                </form>
			</div>
		</div>
	</section>
    </body>
{% endblock %}