{% extends "homepage/base.html" %}
{% load static %}
{% block blk %}

<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>

<body>
<section class="hero-section overflow-hidden">
    <div class="hero-slider owl-carousel">
        <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/slider-bg-1.jpg' %}">
            <form class="ps-form--contact" action="" method="post">
                {% if message != "" %}
                <div class="form-group" data-wow-delay="300ms">
                    <script>
                        var timer = setTimeout(function() {
                            $('#alert').fadeOut('slow');}, 5000);
                    </script>
                    <div id="alert" class="alert-success" style="padding: 10px; margin-bottom: 0px;">{{ message }}</div>
                </div>
                {% elif message == "" %}
                <div></div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label>Username <sup>*</sup></label>
                    <input class="input100" type="text" placeholder="Enter Your Username" name="username"
                        required>
                </div>
                <div class="form-group">
                    <label>Email <sup>*</sup></label>
                    <input class="input100" type="email" placeholder="Enter Your Email" name="email" required>
                </div>

                <div class="form-group">
                    <label>Password <sup>*</sup></label>
                    <input class="input100" type="password" placeholder="Enter Your Password" name="password"
                        required>
                </div>
                <div class="form-group">
                    <label>Confirm Password <sup>*</sup></label>
                    <input class="input100" type="password" placeholder="Confirm Password" name="confirm_password" required>
                </div>
                <div class="form-group">
                    <button class="login100-form-btn">Register </button>
                </div>
                <div class="form-group">
                    <div>
                        <p class="text-muted">Already An Account?<a class="ml-2" href="{% url 'GameHome:login' %}">Log In
                            </a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
{% endblock %}